@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');

/* Add CSS styling here */
body {
    width:100%;
    margin: 0 0;
    font-family: 'IBM Plex Sans', sans-serif;
}
.top {
    /* border: 1px solid black; */
    height:20vh;
    background-color:#eb3a45;
    width:100%;
}

.name {
    /* border: 1px solid black; */

    color:#ffffff;
    margin: 0 20px 0 20px;
    padding:20px 20px;
}
.navigation nav { 
    /* border: 1px solid yellow; */

    display:flex;
    justify-content:space-evenly;
    align-items:stretch;
    height:60px;
    background-color:#eb3a45;
    /*width:100%;*/
    text-align:center;
}
.navigation a {
    /* border: 1px solid black; */

    color:#eb3a45;
    background-color:#ffffff;
    /*margin: 0 0 0 20px;*/
    width:100%;
    padding:15px;
    text-decoration: none;
    transition: 0.3s;
}
.navigation a:hover {
    /* border: 1px solid black; */

    color:#ffffff;
    background-color:#eb3a45;
    /*margin: 0 0 0 20px;*/
    width:100%;
    text-decoration: none;
}
.intro {
    /* border: 1px solid black; */
    display:flex;
    justify-content:center;
    align-items:center;
    padding:50px;

}
.profile-pic {
    /* border: 1px solid black; */
    border-radius:5px;
    object-fit:fill;
    width:600px;
    height:400px

}
.blurb {
    /* border: 1px solid black; */
    padding:20px 20px;
    margin:100px 100px;
    
}
.blurb a {
    text-decoration:none;
    color:#000000;
}
.blurb a:hover {
    text-decoration:underline;
}
section {
    /* border:1px solid black; */

    display:flex;
    margin:100px 0 100px 0;
    justify-content:space-evenly;
    flex-wrap:wrap;
    width:100%;
}

.project {
    /* border: 1px solid black; */
    
    background:url(https://picsum.photos/150);
    width:150px;
    height:150px;
  /*   padding:10px;
    box-sizing:border-box; */
    border-radius:10px;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    /* flex-wrap: row wrap; */
    /* padding:10px 10px; */
}

.text{
    font-size:1.2rem;
    opacity:0.7;
    transition:.3s;
}
.text a{
    text-decoration:none;
    color:white;
    text-shadow:2px 2px black;
}
.project:hover .text{
    opacity:1;
}
.bottom {
    /* border: 1px solid black; */
    height:20vh;
    background-color:#eb3a45;
    width:100%;
    text-align:center;
    /* margin:0 0 100px 0; */
    padding: 50px 0 0 0;
}
.bottom img {
    height:25px;
    width:25px;
    padding:5px 0 5px 0;
    opacity:1;
}
.bottom a {
    color:#ffffff;
    font-size:1.2rem;
    transition:.3s;
    text-decoration: none;
}
.bottom a:hover{
    text-decoration: underline;
}
.bottom img {
    height:25px;
    width:25px;
    padding:5px 0 5px 0;
    opacity:1;
}
.bottom br {
    line-height: 2;
}

.body {
    border: 1px solid black;
    padding: 0 0 0 50px;
}